<h3><strong>Title: </strong><%= @post.title %></h3>

<%= link_to 'Изменить', edit_post_path(@post) %>
<%= link_to 'Удалить', post_path(@post), method: :delete, data: {confirm: 'Вы уверены'} %>
<p><strong>summary: </strong><%= @post.summary %></p>
<p><strong>body: </strong><%= @post.body %></p>